


html, body { height: 100%; margin: 0; overflow-x: hidden; }
*, *::before, *::after { box-sizing: border-box; }
img { display: block; max-width: 100%; height: auto; }

body {
  font-size: 62.5%;
}

nav ul {
 list-style: none;
    margin: 0;                        
    padding: 0;                      
    text-align: center;
}