
// COLORS
$primary-color: #6c933e;
$secondary-color: #d9e4cc;
$dark-color: #4a4a4a;
$light-color: #ffffff;

//FONTS

$title-font: 'Anonymous pro', 'courier new', monospace;
$text-font: 'Roboto', 'Helvetica', 'sans-serif';

//FONTS-SIZES

$first-title-style: 3rem;
$second-title-style: 2rem;
$text-style: 1rem;
$small-text: 0.8rem;

//FONT-WEIGHT: 
$text-weight: 300;
$title-weight: 900;

//BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;