
// COLORS
$primary-color: #6c933e;
$secondary-color: #d9e4cc;
$dark-color: #4a4a4a;
$light-color: #ffffff;

//FONTS

$tittle-font: 'Anonymous pro', 'courier new', monospace;
$text-font: 'Helvetica', 'sans-serif';

//FONTS-SIZES

$first-tittle-style: 3rem;
$second-tittle-style: 2rem;
$text-style: 1rem;
$small-text: 0.8rem;

//BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;