<footer class="footer">
    <nav class="footer__part1">
        <ul>
            <li><a href="https://adalab.es" target="_blank">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es" target="_blank">ROPA</a></li>
            <li><a href="https://adalab.es" target="_blank">NIÑA/O</a></li>
            <li><a href="https://adalab.es" target="_blank">DESTACADOS</a></li>
            <li><a href="https://adalab.es" target="_blank">TIPS</a></li>
        </ul>
    </nav>

    <nav class="footer__part2">
        <ul>
            <li><a href="https://adalab.es" target="_blank">TWITTER</a></li>
            <li><a href="https://adalab.es" target="_blank">INSTAGRAM</a></li>
            <li><a href="https://adalab.es" target="_blank">YOUTUBE</a></li>
        </ul>
    </nav>

    <section class="footer__part3">
        <p>©2023</p>
        <div class="part3__weLoveRun">
            <p>we</p>
            <p id="part3__heart">❤</p>
            <p>run</p>
        </div>
    </section>

