<footer class="footer">
    <nav class="footer__part1">
        <ul>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">ZAPATILLAS</a></li>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">ROPA</a></li>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">NIÑA/O</a></li>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">DESTACADOS</a></li>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">TIPS</a></li>
        </ul>
    </nav>

    <nav class="footer__part2">
        <ul>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">TWITTER</a></li>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">INSTAGRAM</a></li>
            <li class="footer__li"><a class="li--link" href="https://adalab.es" target="_blank" rel="noopener noreferrer">YOUTUBE</a></li>
        </ul>
    </nav>

    <section class="footer__part3">
        <p>©2023</p>
        <div class="part3__weLoveRun">
            <p>we</p>
            <p id="part3__heart">❤</p>
            <p>run</p>
        </div>
    </section>

