
<header class="header">

  <section class="header__hero">
    <h1 class="hero__tittle">COMIENZOS COMPARTIDOS</h1>
    <p class="hero__text-basic">Todo lo que necesitas para volver al cole con ilusión</p>
  </section>

  <figure class="header__arrow-down">
    <img id="arrow" src="images/ico-scroll-down.svg" alt="child playing football on the grass">
  </figure>

  <figure class="header__hamburguer">
    <a href="https://adalab.es" target="_blank">
      <img src="images/ico-menu.svg" alt="menu icon">
    </a>
  </figure>

</header>
