
<header class="header">

  <section id="hero" class="header__hero">
    <h1 class="hero__title">COMIENZOS <br> COMPARTIDOS</h1>
    <p class="hero__text-basic">Todo lo que necesitas para volver al cole con ilusión</p>
  </section>

  <a href="main.html#back-to-school" class="header__arrow-down">
    <img class="arrow-down__img" id="arrow" src="images/ico-scroll-down.svg" alt="child playing football on the grass">
  </a>

  <figure class="header__hamburger">
    <a href="https://adalab.es" target="_blank" rel="noopener noreferrer">
      <img src="images/ico-menu.svg" alt="" aria-hidden="true">
    </a>
  </figure>

</header>
