<main class="content">
  <section class="content__sport-shop">
    <h3 class="content__title2">HISTORIAS, MODA Y ROPA DEPORTIVA</h3>
    <h2 class="content__title">TU TIENDA DE DEPORTE</h2>
    <p class="content__text">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva 
        para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu 
        rendimiento, para que superes tu mejor marca personal. </p>
    <a href="https://adalab.es" target="_blank" class="button">Comprar</a>
  </section>
  
  <section class="content__sport-info">
      <h4 class="content__text-circle">¡Prepáralos con tus marcas favoritas!</h4>
      <h2 id="back-to-school" class="content__title-circle">VUELTA AL COLE</h2>
      <section class="sport-info__circle-cards">
          <article class="circle-card__card">
            <figure class="circle-card__img">
            <img src="images/lpbts-mod05-img01-desk.png" alt="child one with backpack">
            </figure>
            <h4 class="content__text-circle">Mochilas escolares</h4>
          </article>

          <article class="circle-card__card">
            <figure class="circle-card__img">
              <img src="images/lpbts-mod05-img04-mob.png" alt="child two with colors">
            </figure>
            <h4 class="content__text-circle">Estuches</h4>
          </article>

          <article class="circle-card__card">
            <figure class="circle-card__img" >
              <img src="images/lpbts-mod05-img03-mob.png" alt="child three with backpack">
            </figure>
            <h4 class="content__text-circle">Bolsas de deporte</h4>
          </article>
    </section>

        <a href="https://adalab.es" target="_blank"  rel="noopener noreferrer" class="button">Empezar ahora</a>
    <a href="header.html#hero" class="sport-info__arrow">
        <img src="images/ico-arrow.svg" class="arrow__img"alt="go up">
    </a>

  </section>
</main>
