<main class="content">
  <section class="content__sport-shop">
    <h3>HISTORIAS, MODA Y ROPA DEPORTIVA</h3>
    <h2>TU TIENDA DE DEPORTE</h2>
    <p>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva 
        para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu 
        rendimiento, para que superes tu mejor marca personal. </p>
    <a href="https://adalab.es" target="_blank" class="button">Comprar</a>
  </section>
  
  <section class="content__sport-info">
    <h4>¡Prepáralos con tus marcas favoritas!</h4>
    <h2>VUELTA AL COLE</h2>
    <section class="sport-info__circle-cards">
        <article class="circle-card__card">
            <img src="images/lpbts-mod05-img01-desk.png" alt="child one with backpack">
        </article>
        <article class="circle-card__card">
            <img src="images/lpbts-mod05-img04-mob.png" alt="child two with colors">
        </article>
        <article class="circle-card__card">
            <img src="images/lpbts-mod05-img03-mob.png" alt="child three with backpack">
        </article>
        <a href="https://adalab.es" target="_blank" class="button">Empezar ahora</a>
        <figure>
          <img src="images/ico-arrow.svg" alt="go up">
        </figure>
    </section>
  </section>
</main>
